<div id="main"></div>

  <template id="indexView-template">
    <div class="background"></div>
  </template>

  <template id="deckView-template">
    <h2>Available Decks</h2>
    <table class="table-light">
      <tr>
        <th>Title</th>
        <th>Number of comics</th>
        <th>Thumbnails</th>
      </tr>
      <tbody id="decks_table_data"></tbody>
    </table>
  </template>

  <template id="deckListView-template">
      <td>{{ title }}</td>
      <td>{{ num_comics }}</td>
      <td id="thumbnails"></td>
  </template>

  <template id="newDeckView-template">
    <h1>New Deck</h1>
    <form>
      <div>
        <label for="deck-title">Give a name for your new deck:</label><br>
        <input id="deck-title" type="text" class="mb0 field-light">
        <button id="create-deck" class="button">Create Deck</button>
      </div>
    </form>
  </template>

  <template id="deckShowView-template">
    <h1>Viewing the deck: {{ title }}</h1>
    <p><a href="#/decks/{{ id }}/search">Add comics to this deck</a></p>
    <h2 id="info-message"></h2>
  </template>

  <template id="searchView-template">
    <div class="col col-4">
      <h1>Comic Search</h1>
      <p>You are currently adding to the deck: {{ title }}</p>
      <p><a href="#/decks/{{ id }}">View this deck</a></p>
      <form>
        <label for="comic_title">Name of the comic you want to add:</label>
        <br>
        <input type="search" id="comic_title" class="mb0 field-light" placeholder="Spider-man" >
        <button id="search" class="button">Search</button>
      </form>
      <div class="suggestions bg-silver">
        <h3>Suggestions</h3>
        <ul>
          <li>Spider-man</li>
          <li>X-men</li>
          <li>Deadpool</li>
          <li>Guardians of the Galaxy</li>
          <li>Ms. Marvel</li>
          <li>Avengers</li>
          <li>Fantastic Four</li>
        </ul>
      </div>
    </div>

    <div class="col col-8 px2">
      <div class="search-results center"></div>
      <div class="previous col col-3">&nbsp</div>
      <div class="instructions col col-6 center">&nbsp</div>
      <div class="next col col-3 right-align"></div>
    </div>
  </template>

  <template id="gameView-template">
  <div id="game"></div>
  </template>

  <template id="card-template">
    <div class="card">
      <div class="cardFace front">
        <p>Memory</p>
        <p>Marvel</p>
      </div>
      <div class="cardFace back">
        <img src="{{ image_url }}.jpg">
      </div>
    </div>
  </template>






