  <p>Hello World!</p>

  <div id="main"></div>

  <template id="deckView-template">
    <h2>Available Decks</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Number of comics</th>
      </tr>
      <tbody id="decks_table_data"></tbody>
    </table>
  </template>

  <template id="deckListView-template">
      <td>{{ title }}</td>
      <td>{{ num_comics }}</td>
  </template>

  <template id="searchView-template">
    <h1>Comic Search</h1>

    <form>
      <div>
        <label for="comic_title">Comic Title:</label><br>
        <input type="search" id="comic_title">
      </div>
      <button>Search</button>
    </form>
  </template>





