<div id="main"></div>

  <template id="indexView-template">
    <h2>Menu</h2>
    <ul>
      <li>Play Now</li>
      <li><a href="#decks">Browse Decks</a></li>
      <li>Build Deck</li>
    </ul>
  </template>

  <template id="deckView-template">
    <h2>Available Decks</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Number of comics</th>
      </tr>
      <tbody id="decks_table_data"></tbody>
    </table>
  </template>

  <template id="deckListView-template">
      <td>{{ title }}</td>
      <td>{{ num_comics }}</td>
  </template>

  <template id="newDeckView-template">
    <h1>New Deck</h1>
    <form>
      <div>
        <label for="deck-title">Give a name for your new deck:</label><br>
        <input id="deck-title">
      </div>
      <button id="create-deck">Create Deck</button>
    </form>
  </template>

  <template id="deckShowView-template">
    <p>You are currently viewing the deck: {{ title }}</p>
    <p><a href="#/decks/{{ id }}/search">Add comics to this deck</a></p>
    <h2>You can discard a comic by clicking on it.</h2>
  </template>

  <template id="searchView-template">
    <h1>Comic Search</h1>
    <p>You are currently adding to the deck: {{ title }}</p>
    <p><a href="#/decks/{{ id }}">View this deck</a></p>
    <form>
      <div>
        <label for="comic_title">Comic Title:</label><br>
        <input type="search" id="comic_title">
      </div>
      <button id="search">Search</button>
    </form>

    <div class="search-results"></div>
  </template>

  <template id="gameView-template">
  <div id="game"></div>
  </template>

  <template id="card-template">
    <div class="card">
      <div class="cardFace front">
        <p>Memory</p>
        <p>Marvel</p>
      </div>
      <div class="cardFace back">
        <img src="{{ image_url }}/portrait_xlarge.jpg" data-id="{{ comic_id }}">
      </div>
    </div>
  </template>






