.suggestions {
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 1em;
  width: 70%;
}

.search-results {
  margin-top: 2em;
}

.comic-cover {
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.cardWrapper{
  width:133px;
  height:200px;
  margin: 1em;
  display: inline-block;
  /*background-color:#333;*/
  /*  float:left;*/
  /*margin-right:10px;*/
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
}

.cardFace{
  position:absolute;
  width:133px;
  height:200px;
  overflow:hidden;
}

.front{
  background-color:red; 
}

.back{
  background-color:#333; 
}

