@import url(http://fonts.googleapis.com/css?family=Lobster);

.background {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 110%; 
  height: 110%;
  z-index: -1;
  font-size: 0;
  background-color: #444444;;
}

.suggestions {
  padding: 5px;
  padding-top: 1px;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 1em;
  width: 70%;
}

.search-results {
  margin-top: 2em;
}

.comic-cover {
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.cardWrapper{
  width:133px;
  height:200px;
  margin: 1em;
  display: inline-block;
  /*background-color:#333;*/
  /*  float:left;*/
  /*margin-right:10px;*/
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
}

.cardFace{
  position:absolute;
  width:133px;
  height:200px;
  overflow:hidden;
}

.front{
  background-color: red;
  border-radius: 10px;
  border: 2px solid white;
}

.back{
  background-color:#333; 
  border-radius: 10px;
  border: 2px solid white;
}

.game-over-message {
  font-family: 'Lobster', cursive;
  color: cyan;
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.memory-card-back {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #F7F4EF;
  font-size: 2em;
}

